:root {

    /*********************
    *******Colors*********
    *********************/
    --color-primary:#343A40;
    --color-primary-dark: #22262a;
    --color-secondary: #007BFB;
    --color-secondary-dark: #0056b3;
    --color-white: #fff;
    --color-light: #f8f9fa;
    --color-light-grey: #E9ECEF;
    --color-dark-filler: #202529;
    --color-retail: #E36382;
    --color-niceprice: #27A745;
    --color-transparent: transparent;
    --color-dark-transparent: rgba(0, 0, 0, 0.2);


    /**********************
    *******Display*********
    **********************/
    --display-xxs: 1rem;
    --display-xs: 1.4rem;
    --display-sm: 1.6rem;
    --display-md: 1.8rem;
    --display-lg: 2rem;
    --display-xl: 2.5rem;
    --display-xxl: 3rem;


    /**********************
    *******Line Height*****
    **********************/
    --line-height-sm: 1rem;
    --line-height-md: 1.6rem;
    --line-height-lg: 3rem;
    --line-height-xl: 4rem;


    /**************************
    ********Distance***********
    **************************/
    --distance-0: 0rem;
    --distance-1: .25rem;
    --distance-2: .50rem;
    --distance-3: .75rem;
    --distance-4: 1rem;
    --distance-5: 1.25rem;
    --distance-6: 1.50rem;
    --distance-7: 1.75rem;
    --distance-8: 2rem;
    --distance-9: 2.25rem;
    --distance-10: 2.50rem;
    --distance-11: 2.75rem;
    --distance-12: 3rem;
    --distance-13: 3.25rem;
    --distance-14: 3.50rem;
    --distance-15: 3.75rem;
    --distance-16: 4rem;

    /*************************
    ********Shadows***********
    *************************/
    --shadow-small-light: .15rem .15rem 0 rgba(0, 0, 0, .1);
    --shadow-large-light: .25rem .25rem 0 rgba(0, 0, 0, .1);


    /*************************
    ********Borders***********
    *************************/
    --border-xs-white: .1rem solid var(--color-white);
    --border-xs: .1rem solid var(--color-light);
    --border-sm: .2rem solid var(--color-light);
    --border-lg: .4rem solid var(--color-white);

    --border-radius-sm: .25rem;
    --border-success: .2rem solid var(--border-color-sucess);
    --border-transparent: -1 solid var(--color-transparent);

}


/*Tar bort margin och padding på alla element RESET*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

/*Sätt border-box och ändrar default fontsize*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-dark);
    font-size: var(--display-sm);
    min-height: 100vh;
}

.h1, .h2, .h3, .h4, .h5, .h5, .h6, h1, h2, h3, h4, h5, h6 { 
    font-family: "Roboto", "Open Sans", sans-serif; 
    font-weight: 700;
    letter-spacing: .05rem;
}
.h1, h1 {
    font-size: var(--distance-13);
}

/*************************************
********* Text Colors ****************
*************************************/
.text-primary{ color:var(--color-primary);}
.text-primary-dark{ color:var(--color-primary-dark);}
.text-secondary{ color:var(--color-secondary); }
.text-secondary-dark{ color:var(--color-secondary-dark);}
.text-color-white{ color: var(--color-white);}
.text-color-light{ color:var(--color-light); }
.text-color-light-grey{ color:var(--color-light-grey);}
.text-dark-filler{ color:var(--color-dark-filler);}
.text-retail{ color:var(--color-retail);}
.text-niceprice{ color:var(--color-niceprice);}


/**************************************
******** Background Colors ************
**************************************/
.bg-primary, .btn-primary { background-color: var(--color-primary);}
.bg-primary-dark, .btn-primary-dark { background-color: var(--color-primary-dark);}
.bg-secondary, .btn-secondary { background-color: var(--color-secondary);}
.bg-secondary-dark, .btn-secondary-dark { background-color: var(--color-secondary-dark);}
.bg-white, .btn-white{ background-color: var(--color-white);}
.bg-light, .btn-ligth{ background-color: var(--color-light);}
.bg-light-grey, .btn-light-grey{ background-color: var(--color-light-grey);}
.bg-dark-filler, .btn-dark-filer{ background-color: var(--color-dark-filler);}
.bg-transparent, .btn-transparent{ background-color: var(--color-transparent);}
.bg-dark-transparent, .btn-dark-transparent{ background-color: var(--color-dark-transparent);}


/***************************************
************* Border Colors ************
***************************************/
.border-color-primary { border-color: var(--color-primary);}
.border-color-dark-primary{ border-color: var(--color-primary-dark);}
.border-color-secondary {border-color: var(--color-secondary);}
.border-color-dark-secondary{ border-color: var(--color-secondary-dark);}
.border-color-white { border-color: var(--color-white);}
.border-color-tranparent{ border-color: var(--color-transparent);}
